
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Brahada Srinivas</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/img1.jpg' %}" >
					<hr>
					<h4>Hi I'm Brahada :)</h4>
					<p>I love coding, doing research, collaborating and making UX models.</p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>About me</h4>
					<hr>
					<p>Frankly, I didn't know anything about coding when I joined the degree and first 2 years I was as active as a stone( I really really regret it :| ) but after 2 years I participated in a hackathon and that's the start of my coding journey.</p>
					<p>I started to actually code by myself rather than ctrl+c & ctrl+v from third year for all my mini-projects as well as my final year project. I finally had the passion for the coding and what I needed was practice so I participated in many coding competitions as well as hackathons and also did some online courses.</p>
					<p>Started late, but here I am. My motto is : <b>I can do, I will do, I must do!</b></p>
					<p>You can know about my cool projects as well as my resume by clicking the last icon below.From this you’ll see that I’m someone that jumps before I can talk myself out of doing something scary.</p>

					<ul class="social-links">
						<li><a href="https://www.linkedin.com/in/brahada-srinivas-77a70a16b/"><img class="social" src="{% static 'images/linkedin.png' %}"></li></a>
						<li><a href="https://medium.com/@machine_learner"><img class="social" src="{% static 'images/twitter.png' %}"></li></a>
						<li><a href="https://github.com/brahada"><img class="social" src="{% static 'images/github.png' %}"></li></a>
						<li><a href="https://drive.google.com/file/d/1IRPoOrSbWGYOMS44vLIZij6qJa1SrqUw/view?usp=sharing"><img class="social" src="{% static 'images/resume.png' %}"></li></a>
					</ul>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Experience till now</h5>
					<hr>
					<p>Machine learning Intern at <b>Samsung Electro Mechanics</b> - Learnt how real time AI works. Mostly worked on semi-supervised classification and deep learning visualization. </p>
					<p>Virtual Intern at <b>JP Morgan Chase & CO</b> - Learnt data visualization on stock rates data.</p>
					<p>Freelance tutor at <b>TeacherOn.com</b> - Worked as a Python tutor and a mentor.</p>
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>What I Know</h5>
					<hr>
					<p>Python,Machine learning(basics), Data visualization, Image classification Django, HTML/CSS, JavaScript and so many more ;)</p>
					<p>PS: Working on Data analytics,Node JS,Advanced ML and Deep learning etc</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>How I Learn</h5>
					<hr>
					<p>Reverse Engineer & Build Ugly Prototypes First.</p>

					<p>I can learn just about anything by having a final product to tear apart piece by piece. I break the code where I need to figure out why things work the way they do. Documentation is just a reference.</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Short Term Goals</h5>
				<hr>
				<p>I am almost finishing my Bachelors degree in Computer Science and till I have worked on Python programming the most.I’m ready to dive even deeper also I sm ready to learn something new. I'll collaborating and sharing my experience with others on my blog on medium(above link is given).</p>
				<p>Aside from building small projects I would love to enter a position where I can be part of a bigger team & learn from others with more experience than myself.</p>

				</div>
			</div>
		</div>
		<br>
	</div>


</body>
</html>